body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Open Sans", "Tahoma", sans-serif;
  text-align: left;
}
h1 {
  margin: 0 0 20px 0;
  font-size: 3em;
}
h2,
h3 {
  font-weight: bold;
  color: #BFB363;
  text-transform: uppercase;
}
p {
  padding: 0;
}
hr {
  margin-top: 25px;
  margin-bottom: 25px;
}
h3 {
  margin-left: 10px;
}
ul {
  padding: 0;
}
.bottom-row li {
  list-style: none;
}
.container {
  padding-top: 50px;
}
.contacts-photo {
  float: left;
  margin-right: 30px;
}
.contacts__img {
  border-radius: 40px;
  border: 3px solid green;
  -webkit-box-shadow: 0 0 7px #666;
          box-shadow: 0 0 7px #666;
}
.contacts p {
  position: relative;
  display: inline-block;
}
.contacts p::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 150%;
  width: 100%;
  height: 1px;
  background-color: #c2c2c2;
}
.date {
  display: inline-block;
  font-style: italic;
  font-size: 0.7em;
}
.description {
  color: #777777;
}
.description li {
  list-style: none;
}
.contacts-p a:nth-child(1),
.footer a:nth-child(1) {
  text-decoration: none;
  color: #000000;
}
.education-courses li,
.skills li {
  list-style: disc;
  margin-left: 22px;
}
footer {
  margin-top: 20px;
  text-align: center;
}
